<div class="container">
  <h1>Add Your details</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form action="/bio/create" method="post">


          <div class="form-group">
               <h3>Name:</h3> 
              <input type="text" name="name" class="form-control" placeholder="Name" />
          </div>
          <div class="form-group">
            <h3> Mobile No:</h3>
              <input type="number" name="mobile_no" class="form-control" placeholder="Mobile No" />
          </div>
          <div class="form-group">
            <h3>Email</h3>
              <input type="email" name="email" class="form-control" placeholder="email" />
          </div>
           <div class="form-group">
            <h3>Age</h3>
              <input type="text" name="age" class="form-control" placeholder="Age" />
          </div>
           <div class="form-group">
            <h3>Address</h3>
              <textarea name="address" class="form-control"></textarea>
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save</button>
          </div>
      </form>
    </div>
  </div>
</div>